.header-single {
  color: white;
  margin-top: -120px;
  padding: 180px 12.5vw;
  height: 70vh;
  background-color: #292929; }

.recipe-container {
  width: 50%;
  height: 150vh;
  margin: -40vh auto 0;
  background-color: #756767; }
